* {
  box-sizing: border-box;
}
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}
body {
  font-family: "NotoColorEmojiLimited", "Twemoji Mozilla", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color",
    "Android Emoji", sans-serif;
}
.show {
  display: flex !important;
}

.none {
  display: none !important;
}

.delete {
  width: 100%;
  height: 400px;
  opacity: 0;
  display: block !important;
  pointer-events: none;
}
.deletelast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;

  width: 100px;
  height: 100%;
  background-color: black;
  color: white;
  user-select: none;
}

.button {
  padding: 20px 40px;
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 30px;
  margin: 20px;
}

.cross {
  cursor: pointer;
  user-select: none;
  width: 38px;
  height: 38px;
  padding: 5px;
  border-bottom: 5px solid #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: white;
  display: none;
  position: fixed;
  bottom: 50vh;
  right: 0;
}

#emojipicker {
  display: none;
  position: fixed;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

body {
  padding: 10px;
}

li {
  list-style-type: none;
}

.list-group {
  position: relative;
  /* z-index: 5; */
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  border: 2px solid black;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80px;
  padding: 20px;
  cursor: move;
}

#sortTrue {
  min-height: 140px;
}
